<!DOCTYPE html>
<!-- saved from url=(0140)https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html -->
<html class="loaded" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <!-- <meta name="description"
      content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords"
      content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT"> -->
    <title>Login</title>
    <link rel="apple-touch-icon" href="https://rangdong.com.vn/themes/rangdong/images/logo.png">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://diennuochoangkhoi.com/wp-content/uploads/2019/09/rang-dong.jpg">
    <link href="./login-1_files/css" rel="stylesheet">

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/Chalarangelo/bootstrap-extend/880420ae663f7c539971ded33411cdecffcc2134/css/bootstrap-extend.min.css" />
    <!-- END: Theme CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card-header {
            background-color: #ffffff;
        }

        form .form-control {
            border: 1px solid #cacfe7;
            color: #3b4781;
            font-size: 14px;
        }

        .form-control-position {
            position: absolute;
            top: -7px;
            right: 0;
            z-index: 2;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 3.2rem;
            text-align: center;
            font-size: 14px;
            color: gray;
        }


        .has-icon-left .form-control {
            padding-left: 2.5rem;
        }

        .has-icon-left .form-control-position {
            right: auto;
            left: inherit;
        }

        .checkbox label:after,
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

        .checkbox .cr,
        .radio .cr {
            position: relative;
            display: inline-block;
            border: 1px solid #a9a9a9;
            border-radius: .25em;
            width: 1.3em;
            height: 1.3em;
            margin-right: .5em;
        }

        .radio .cr {
            border-radius: 50%;
        }

            .checkbox .cr .cr-icon,
            .radio .cr .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }

            .radio .cr .cr-icon {
                margin-left: 0.04em;
            }

        .checkbox label input[type="checkbox"],
        .radio label input[type="radio"] {
            display: none;
        }

            .checkbox label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

        .box-shadow-2 {
            top: 20%;
            box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        }

        .checkbox .cr,
        .radio .cr {
            margin-bottom: -4px;
        }

        .btn-google-plus {
            background: #c32f10;
            border-color: #c32f10;
            color: #ffffff;
        }

        .btn-login :hover {
            color: #ffffff;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }

        .btn-adfs img,
        .btn-google-plus :hover {
            box-shadow: unset !important;
        }

        .btn-adfs {
            background: #ffffff;
            border-color: #00aced;
            color: #ffffff;
        }

            .btn-adfs img {
                height: 30px;
            }

        .line-on-side {
            border-bottom: 1px solid #dadada;
            line-height: .1em;
        }

            .line-on-side span {
                background: #ffffff;
                padding: 0 10px;
            }
    </style>

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 1-column  bg-full-screen-image blank-page  pace-done"
      data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99"
             style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="https://rangdong.com.vn/themes/rangdong/images/logo.png" alt="branding logo">
                                    </div>
                                    <!-- <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Easily Using</span></h6> -->
                                </div>
                                <div class="card-content">
                                    <!-- <div class="text-center">
                                      <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="la la-facebook"></span></a>
                                      <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="la la-twitter"></span></a>
                                      <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="la la-linkedin font-medium-4"></span></a>
                                      <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span class="la la-github font-medium-4"></span></a>
                                    </div> -->
                                    <!-- <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>OR Using Account
                                    Details</span></p> -->
                                    <div class="card-body">
                                        <form class="form-horizontal" id="frmLogin" name="frmLogin">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" id="Username" name="Username" placeholder="Your Username" required="" />
                                                <strong id="UsernameErr" class="error"></strong>
                                                <div class="form-control-position">
                                                    <i class="fa fa-user-o"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Your Password" required="" />
                                                <strong id="passwordErr" class="error"></strong>
                                                <strong id="messageError" class="error"></strong>
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </fieldset>
                                            <div class="form-group group-checkbox row">
                                                <div class="col-sm-6 col-12 text-center text-sm-left pr-0">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                            Remember me
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right">
                                                    <a href="#"
                                                       class="card-link">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-danger btn-block" id="submitLogin">
                                                <i class="fa fa-unlock-alt "></i>
                                                Login
                                            </button>
                                        </form>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-4 my-1">
                                        <span>
                                            Sign in with
                                        </span>
                                    </p>
                                    <div class="card-body row">
                                        <div class="col-xs-6 col-sm-6 btn-login">
                                            <input value="@ViewBag.State" name="stateNew" hidden/>
                                            <div class="btn btn-sm btn-block btn-google-plus" data-toggle="tooltip" data-placement="top"
                                                 title="Google Plus">
                                                <a id="btn-login-google" class="btn-login-google">
                                                    <i class="fa fa-google-plus fa-2x"></i>
                                                    <span class="hidden-xs"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 btn-login">
                                            <div class="btn btn-sm btn-block btn-adfs" data-toggle="tooltip" data-placement="top"
                                                 title="ADFS">
                                                <!-- <i class="fa fa-windows fa-2x"></i> -->
                                                <img src="https://www.logintc.com/assets/img/logos/adfs.png" />
                                                <span class="hidden-xs"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
    <script src="~/js/LoginSpecial/app.min.js"></script>
    <script src="~/js/LoginSpecial/login.js"></script>
    <script src="~/js/LoginSpecial/main.js"></script>
    <script src="~/js/message/toastr.min.js"></script>
    <script src="~/js/message/jquery.min.js"></script>
</body>

</html>